In [61]:
# THIS ASSIGNMENT COVERS DATA TYPES, VARIABLES, THE INPUT() FUNCTION, TYPE CASTING,
#OPERATORS AND IF-ELSE CONDITIONAL STATEMENTS. 

#Q1.Write a Python program that prints the following text exactly as it appears.
#Python is fun.
#"Quotes" and 'single quotes' can be tricky.

#Method 1:
print('''Python is fun.\n"Quotes" and 'single quotes' can be tricky.''')
#Method 2:
print("Python is fun.\n\"Quotes\" and 'single quotes' can be tricky.")

Python is fun.
"Quotes" and 'single quotes' can be tricky.
Python is fun.
"Quotes" and 'single quotes' can be tricky.

In [62]:
#Q2.For a business create 3 variables to store your name, age and city. 
#Print a sentence that uses these variables.

name = 'Akanksha'
age = 24
city = 'Pune'
#Method 1:
print("I'm", name, "a", age,"year old who lives in",city,)

#Method 2:
print(f"I'm {name} a {age} year old who lives in {city}")

I'm Akanksha a 24 year old who lives in Pune
I'm Akanksha a 24 year old who lives in Pune

In [63]:
#Q3.Write a python program to input student name and marks of 3 subjects. 
#Print name & percentage in output.

print("Percentage calculator-")
student_name= input('Enter the Student Name: ')
python_marks= int(input('Enter Python Marks: '))
sql_marks= int(input('Enter SQL Marks: '))
power_bi_marks= int(input('Enter Power BI Marks: '))

percentage= ((python_marks+ sql_marks+ power_bi_marks)/300)*100
print(f'The result of {student_name} is {int(percentage)}%. Well done!')

Percentage calculator-

Enter the Student Name:  Akanksha
Enter Python Marks:  92
Enter SQL Marks:  98
Enter Power BI Marks:  100

The result of Akanksha is 96%. Well done!

In [64]:
#Q4.Write a python program that collects multiple types of data
#(eg. name, age, height and student status) from user input. 
#Store them in a dictionary and print out the collected data.

user_data= {}
user_data['name']= input('Enter you name: ')
user_data['age']= int(input('Enter your age: '))
user_data['height']= float(input('Enter your height: '))
user_data['status']= input('Are you a student(yes/no): ')
print(user_data)

Enter you name:  Akanksha
Enter your age:  24
Enter your height:  5.4
Are you a student(yes/no):  yes

{'name': 'Akanksha', 'age': 24, 'height': 5.4, 'status': 'yes'}

In [65]:
#Q5.What is the output and reason of the following program.

value= None
if value:
    print("Value is True")        
else:
    print("Value is False")

#Reason: None in python means "No value" or "null" and treated as false. 
#So, the else block is executed.

Value is False

In [66]:
#Q6.LEAP YEAR: Write a program to determine if given year is a leap year using user input.
#A year is a leap year if- a.It is divisible by 4 and not divisible by 100.
#b.It is divisible by 400.

year= int(input("Enter the year (eg. 2024): "))
if (year%4==0 and year%100!=0) or (year%400==0):
    print(f"The year {year} is a leap year.")
else:
    print(f"The year {year} is not a leap year.")

Enter the year (eg. 2024):  3000

The year 3000 is not a leap year.

In [67]:
#Q7.LOGIN AUTHENTICATION using conditional statement. 
#Assume you have a predefined username and password. 
#Write program that prompts user to enter username, password and check whether they match. 
#Provide appropriate messages for the following cases:
# a.Both username and password are correct.
# b.Username is correct but password is incorrect.
# c.Username is incorrect.

user_name= 'akanksha-ghadage'
password= 'pass123'
UserName= input("Enter the user name: ")
Pass= input("Enter the password: ")

if user_name == UserName:
    if password == Pass:
     print("Welcome! Login was successful.")
    else:
     print("Incorrect Password!")
else:
    print("Invalid Username!")

Enter the user name:  akanksha-ghadage
Enter the password:  pass123

Welcome! Login was successful.

In [68]:
#Q8.ADMISSION ELIGIBILITY: A university has following eligibility criteria for admission:
#a.Marks in Python>=65   b.Marks in SQL >=55   c.Marks in Power BI>=50
#d.Total marks in all three subjects>= 180 or total marks in Python and SQL>=140.
#Write a program that takes marks in all 3 subjects as input 
#and prints whether the student is eligible for admission.

print("Enter marks out of 100.")
python_marks= int(input("Enter Python marks: "))
sql_marks= int(input("Enter SQL marks: "))
power_bi_marks= int(input("Enter Power BI marks: "))

if (python_marks>= 65 and sql_marks>= 55 and power_bi_marks>=50 
    and (python_marks+ sql_marks+ power_bi_marks)>= 180) or \
    (python_marks+ sql_marks)>= 140:
    print("You're eligible!")
else:
    print("You're not eligible!")

Enter marks out of 100.

Enter Python marks:  80
Enter SQL marks:  60
Enter Power BI marks:  30

You're eligible!